<%- include('_header.ejs') %>

<%- include('_navbar') %>

<div class="container">

  <% if(mostrar_msj) { %>
  <div class="alert alert-success" role="alert">
    El producto se agregó correctamente al carrito!
  </div>
  <% } %>

  <h1 class="mt-5 mb-3">Listado de productos</h1>

  <div class="mb-5 ">
    <div class="row ">
      <div class="col-md-2 offset-md-10">
        <select class="form-select">
          <option selected>Mostrar</option>
          <option value="1">2 prods/pag</option>
          <option value="2">4 prods/pag</option>
          <option value="3">8 prods/pag</option>
        </select>
      </div>
    </div>

  </div>

  <div class="row row-cols-1 row-cols-md-4 g-4">
    <% for(var i = 0; i < productos.length; i++){ %>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="<%= productos[i].imagen %>" class="card-img-top" alt="...">
        <div class="card-body">
          <span class="badge bg-info text-dark mb-3"><%= productos[i].categoria %></span>
          <h5 class="card-title"><%= productos[i].producto %> </h5>
          <p class="card-text"><%= productos[i].descripcion %></p>
          <a href="/producto/<%= productos[i]._id %>" class="btn btn-outline-primary btn-sm">Ver más</a>
        </div>
      </div>
    </div>
    <% } %>

  </div>
  <div class="mt-4">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

</div>

<%- include('_footer.ejs') %>